@font-face {font-family: "serverpress";src: url("../font/serverpress.eot?40717621");src: url("../font/serverpress.eot?40717621#iefix") format("embedded-opentype"),url("../font/serverpress.woff?40717621") format("woff"),url("../font/serverpress.ttf?40717621") format("truetype"),url("../font/serverpress.svg?40717621#serverpress") format("svg");font-weight: normal;font-style: normal;}
[class^="ds-icon-"]:before, [class*=" ds-icon-"]:before {font-family: "serverpress";font-style: normal;font-weight: normal;speak: none;display: inline-block;text-decoration: inherit;width: 1em;margin-right: .2em;text-align: center;font-variant: normal;text-transform: none;line-height: 1em;margin-left: .2em;}
.ds-icon-serverpress:before {content: "";}
.ds-icon-terminal:before {content: "";}
.ds-icon-spin2:before {content: "";}
.ds-icon-spin3:before {content: "";}
.ds-icon-spin4:before {content: "";}
.ds-icon-spin5:before {content: "";}
.ds-icon-spin6:before {content: "";}
.ds-icon-th-1:before {content: "";}
.ds-icon-link-ext:before {content: "";}
.ds-icon-lock:before {content: "";}
.ds-icon-lock-open:before {content: "";}
.ds-icon-lock-open-alt:before {content: "";}
.ds-icon-eye:before {content: "";}
.ds-icon-download-cloud:before {content: "";}
.ds-icon-upload-cloud:before {content: "";}
.ds-icon-chat:before {content: "";}
.ds-icon-cog-alt:before {content: "";}
.ds-icon-eject:before {content: "";}
.ds-icon-flash:before {content: "";}
.ds-icon-megaphone:before {content: "";}
.ds-icon-bug:before {content: "";}
.ds-icon-tasks:before {content: "";}
.ds-icon-filter:before {content: "";}
.ds-icon-magic:before {content: "";}
.ds-icon-user-md:before {content: "";}
.ds-icon-medkit:before {content: "";}
.ds-icon-terminal-1:before {content: "";}
.ds-icon-shield:before {content: "";}
.ds-icon-map:before {content: "";}
.ds-icon-direction:before {content: "";}
.ds-icon-tools:before {content: "";}
.ds-icon-share-1:before {content: "";}
.ds-icon-login:before {content: "";}
.ds-icon-logout:before {content: "";}
.ds-icon-publish:before {content: "";}
.ds-icon-ccw:before {content: "";}
.ds-icon-back-in-time:before {content: "";}
.ds-icon-monitor:before {content: "";}
.ds-icon-mobile:before {content: "";}
.ds-icon-lifebuoy:before {content: "";}
.ds-icon-suitcase:before {content: "";}
.ds-icon-database:before {content: "";}
.ds-icon-flow-cascade:before {content: "";}
.ds-icon-flow-branch:before {content: "";}
.ds-icon-spin1:before {content: "";}
.ds-icon-flow-line:before {content: "";}
.ds-icon-flow-parallel-1:before {content: "";}
.ds-icon-rocket-1:before {content: "";}
.ds-icon-gauge:before {content: "";}
.ds-icon-traffic-cone:before {content: "";}
.ds-icon-download-outline:before {content: "";}
.ds-icon-download:before {content: "";}
.ds-icon-upload-outline:before {content: "";}
.ds-icon-upload:before {content: "";}
.ds-icon-map-1:before {content: "";}
.ds-icon-menu-outline:before {content: "";}
.ds-icon-basket:before {content: "";}
.ds-icon-stopwatch:before {content: "";}
.ds-icon-loop-1:before {content: "";}
.ds-icon-flow-split:before {content: "";}
.ds-icon-flow-merge:before {content: "";}
.ds-icon-flow-parallel:before {content: "";}
.ds-icon-flow-cross:before {content: "";}
.ds-icon-share:before {content: "";}
.ds-icon-loop:before {content: "";}
.ds-icon-eject-1:before {content: "";}
.ds-icon-target:before {content: "";}
.ds-icon-layers:before {content: "";}
.ds-icon-article-alt:before {content: "";}
.ds-icon-wrench:before {content: "";}
.ds-icon-signal:before {content: "";}
.ds-icon-tablet:before {content: "";}
.ds-icon-easel:before {content: "";}
.ds-icon-th-thumb-empty:before {content: "";}
.ds-icon-coverflow-empty:before {content: "";}
.ds-icon-hdd:before {content: "";}
.ds-icon-warehouse:before {content: "";}
.ds-icon-export:before {content: "";}
.ds-icon-cogs:before {content: "";}
.ds-icon-lightbulb-2:before {content: "";}
.ds-icon-shuffle:before {content: "";}
.ds-icon-laptop:before {content: "";}
.ds-icon-cc:before {content: "";}
.ds-icon-lightbulb-1:before {content: "";}
.ds-icon-database-1:before {content: "";}
.ds-icon-th:before {content: "";}
.ds-icon-popup:before {content: "";}
.ds-icon-flow-tree:before {content: "";}